* {
    /* change FONT later! */
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

    /* <!-------------------------------------------- BANNER/ NAVIGATION BAR ---------------------------------------------------> */
.banner{
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}

.container {
    position: relative; /* Establishes the container as the positioning context for the image */
    width: 100%; /* Set the container width to fill its parent, adjust as needed */
    height: 100vh; /* Set the container height to fill the viewport, adjust as needed */
    padding: 10px 0%;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  ul {
    display: flex; /* This ensures the <li> elements are displayed in a row */
    list-style: none; /* Remove the default bullet points */
    /* Add this property to move the tabs to the right side */ 
    /* margin-right: auto; */
    padding-right: -800px;
}

ul li {
    margin: 10px 20px; /* Add some space between the tabs */
}
ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* Add the hover effect on nav bar text */
ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.5s;
}
ul li a:hover{
    color: #ffffff
}

ul li a:hover::after{
    width: 100%;
}

    /* <!-------------------------------------------- About Me Section ---------------------------------------------------> */
#about {
  padding: 0 0; /* Change this for the padding around the image */
  color: #ababab;
  /* background-color: #000000; */
  /* background-image: url('myImages/bg1.png'); 
  background-size: auto auto; 
  background-position: center;  */
  position: relative;
  overflow: hidden;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(-1); /* Horizontally flip the video */
}
.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.row{
  display: flex; /* this means the image and text will be side by side*/
  justify-content: space-between;
  flex-wrap: wrap;
  /* try smthg for hover effect */
  margin-top: -70px;
  transition: transform 0.5s;
}
.about-col-1 {
  flex-basis: 45%; /*size of the left column */
}
.about-col-1 img{
  /* this gives it rounded edges but ig it doesnt really matter lmao */
  width: 95%;
  border-radius: 50%;
  margin-top: -2px; /* You can adjust this value as needed */
  margin-left: 30px;
}
.about-col-1:hover img {
  transform: scale(1.1);
}
.about-col-2 {
  flex-basis: 50%;
  margin-right: 30px;
}
.sub-title { /* This is for the TITLE */
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  transition: transform 0.5s;
}


.sub-title:hover {
  /* NOTE: I want to add text hover effect BUT every time I change the scale to more than 1, all the dimensions get MESSED UP */
  transform: scale(1.0);
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
  color: white; 
}
.tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #fb1d07; /* #ea0056 */
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50% 
}
.tab-contents li {
  list-style: none;
  margin: 18px 0;
  color: white; 
}
.tab-contents li span {
  color: #ea0056;
  font-size: 20px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
.social-icons{
  margin-top: 10px;
}
.social-icons a{
  text-decoration:  none;
  font-size: 30px;  
  margin-right: 15;  
  color: white; 
  display: inline-block;  
  transition: transform 0.5s;
}
.social-icons a:hover{
  color:#ea0056;
  transform: translateY(-5px);
}

/* <!-------------------------------------------- MACHINE LEARNING SECTION ---------------------------------------------------> */
#ML {
  padding: 30px 80px;
  background-color: black;
  height: 125vh; 
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 25px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  color: #fff;
  font-size: 15px;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ea0056);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
/* This is for the titles of the profjects */
.layer h3{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.layer h2{
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
/* This is for the link icon */
.layer a{
  margin-top: 20px;
  color: #ea0056;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
/* This is for the see more button */
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ea0056;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color:  #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #ea0056;
}
/* <!-------------------------------------------- NLP SECTION --------------------------------------------------->  */
#NLP {
  padding: 30px 80px;
  background-color: black;
  height: 125vh; 
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 25px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  color: #fff;
  font-size: 15px;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ea0056);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
/* This is for the titles of the profjects */
.layer h3{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.layer h2{
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
/* This is for the link icon */
.layer a{
  margin-top: 20px;
  color: #ea0056;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
/* This is for the see more button */
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ea0056;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color:  #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #ea0056;
}
/* <!-------------------------------------------- Creative Coding Section ---------------------------------------------------> */
#creative {
  /* background-image: url('myImages/bg1.png'); 
  background-size: 125% auto; 
  background-position: center;  */
  padding: 30px 80px;
  background-color: #000000;
  height: 125vh; /* Set the height to 100% of the viewport height */
  overflow-y: scroll; /* Enable vertical scrolling if content overflows */
}

/* For WebKit (Chrome, Safari) */
#creative::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
#creative::-webkit-scrollbar-thumb {
  background-color: #fff; /* Color of the scrollbar thumb (the draggable part) */
  border-radius: 6px; 
}
.project-boxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px; 
  /* Add some padding for spacing */
  padding: 40px 0; 
  display: flex; 
  /* Stack content vertically (column) OR HORIZONTALLY (row) */
  flex-direction: row; 
  /* Center vertically */
  justify-content: center; 
  /* Center horizontally */
  align-items: center; 
}
.project-box {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: black; */
  border: 1px solid #ea0056;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  width: 750px; /* Adjust the width of the project box */
  height: auto; /* Adjust the height of the project box */

}
.project-box:hover {
  transform: scale(1.05);
}
/* This is for the Menschel Images */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}
.project-box a {
  text-decoration: none;
  color: white;
}
.project-box a:hover {
  color: #ea0056; /* Change the text color to red on hover */
}
.project-box img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.project-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.project-box p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* PROJECT BOX 2 */
.project-box.project-box-2 {
  width: 750px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}
.project-box.project-box-2 .grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.project-box.project-box-2 img {
  max-width: 85%; /* Adjust the image size as needed */
  height: auto;
}

/* PROJECT BOX 3 */
.project-box.project-box-3 {
  width: 750px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}
.project-box.project-box-3 .grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.project-box.project-box-3 img {
  max-width: 80%; /* Adjust the image size as needed */
  height: auto;
}

/* <!-------------------------------------------- GAMES Section ---------------------------------------------------> */
#games {
  /* background-image: url('myImages/bg1.png'); 
  background-size: 125% auto; 
  background-position: center;  */
  padding: 30px 80px;
  background-color: #000000;
  height: 325vh; /* Set the height to 100% of the viewport height */
}

#games .sub-title {
  margin-bottom: -10px; /* Adjust this value to decrease the distance */
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  transition: transform 0.5s;
}

#games .project-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Arrange in two columns */
  gap: 40px;
  padding: 40px 0; /* Add some padding for spacing */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}
#games .project-box {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: black; */
  border: 1px solid #ea0056;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  flex: 1; /* Use flex property to distribute available space evenly */
  max-width: 600px; /* Set a maximum width for the project boxes */
  height: 700px;
  margin: 20px 20px; /* Adjust margin as needed */
  box-sizing: border-box;
}
#games .project-box:hover {
  transform: scale(1.05);
}
/* This is for the Menschel Images */
#games .grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
#games .project-box img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
#games .project-box a {
  text-decoration: none;
  color: white;
}
#games .project-box a:hover {
  color: #ea0056; /* Change the text color to red on hover */
}
#games .project-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
#games .project-box p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* PROJECT BOX 4 */
#games .project-box.project-box-4 {
  width: 1000px; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
}
#games .project-box.project-box-4 .grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#games .project-box.project-box-4 img {
  max-width: 45%; /* Adjust the image size as needed */
  height: auto;
}

/* PROJECT BOX 5 */
#games .project-box.project-box-5 {
  width: 1000px; /* Adjust the width as needed */
  height: 750px; /* Adjust the height as needed */
}
#games .project-box.project-box-5 .grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#games .project-box.project-box-5 img {
  max-width: 65%; /* Adjust the image size as needed */
  height: auto;
}

/* PROJECT BOX 3 */
#games .project-box.project-box-3 {
  width: 750px; /* Adjust the width as needed */
  height: 750px; /* Adjust the height as needed */
}
#games .project-box.project-box-3 .grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#games .project-box.project-box-3 img {
  max-width: 80%; /* Adjust the image size as needed */
  height: auto;
}


/* PROJECT BOX 2 */
#games .project-box.project-box-2 {
  width: 750px; /* Adjust the width as needed */
  height: 475px; /* Adjust the height as needed */
}
#games .project-box.project-box-2 .grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#games .project-box.project-box-2 img {
  max-width: 85%; /* Adjust the image size as needed */
  height: auto;
}



  /* <!-------------------------------------------- OTHER ---------------------------------------------------> */
#other {
  padding: 30px 80px;
  background-image: url('myImages/bg1.png'); 
  background-size: 125% auto; 
  background-position: center; 
}
.services-list {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px; 
  transition: background 0.5s, transform 0.5s;  
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
/* This is to change Learn More */
.services-list div a { 
  text-decoration: none;
  color: #fff; 
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #ea0056;
  transform: translateY(-10px)
}